body {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    background: #e4e4e4;
}

.maincontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.heroSection {
    width: 30em;
}

.heroPara {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.greenRightImg {
    width: 1em;
}

.lastUpdateImg {
    width: 4em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 37em;
    height: 30em;
    box-shadow: 0 10px 20px 0 #3e516c;
    background: white;
    border-radius: 0.5em;
}

.inputSection1Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input1section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.numberSection1 {
    font-size: 1.7em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    background: #f1f2f5;
    color: #43A047;
}

.numberSection1:focus {
    outline: none;
    box-shadow: #B39DDB 1px 0px 20px 0px;
}

#selectCurrency1 {
    font-size: 1.7em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #F57F17;
    background: #f1f2f5;
    outline: none;
    border: none;
}

.inputSection2Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input2section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.numberSection2 {
    font-size: 1.7em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: #f1f2f5;
    color: #1976D2;
}

.numberSection2 {
    font-size: 1.7em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.numberSection2:focus {
    outline: none;
    box-shadow: #B39DDB 1px 0px 20px 0px;
}

#selectCurrency2 {
    font-size: 1.7em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #F57F17;
    background: #f1f2f5;
    outline: none;
    border: none;
}

.result {
    padding: 0.5em 6em;
    font-size: 1.7em;
    border-radius: 0.5em;
    background: #f1f2f5;
    color: #5E35B1;
}

@media screen and (max-width:1214px) {
    .maincontainer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1157px) {
    .maincontainer {
        width: 100%;
        text-align: center;
    }

    .heroPara {
        justify-content: center;
    }
}

@media screen and (max-width:643px) {
    .maincontainer {
        /* flex-wrap: wrap; */
        gap: 0em;
    }

    .container {
        width: 30em;
    }

    .numberSection1 {
        width: 7em;
    }

    .numberSection2 {
        width: 7em;
    }

    .result {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (max-width:643px) {
    .container {
        width: 25em;
    }

    .input1section {
        flex-direction: column;
    }

    #selectCurrency1 {
        width: 9em;
    }

    .input2section {
        flex-direction: column;
    }

    #selectCurrency2 {
        width: 9em;
    }
}

@media screen and (max-width:425px) {
    .descriptionSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 20em;
    }
    .numberSection1{
        font-size: 1.5em;
    }
    #selectCurrency1{
        font-size: 1.5em;
    }
    .numberSection2{
        font-size: 1.5em;
    }
    #selectCurrency2{
        font-size: 1.5em;
    }
    .lastUpdatedDate{
        width: 22em;
    }
}

@media screen and (max-width:425px){
    .heroSection{
        width: 100%;
    }
    .lastUpdatedDate{
        width: 100%;
    }
}
@media screen and (max-width:351px){
    .container{
        margin: 0em 1em;
    }
    .heroPara{
        font-size: 0.9em;
    }
}